<div class="row">
    <ul>
        <% blogposts.each do |blogpost| %>
            <li>
                <a href="<%= blogpost.url %>">
                    <%= blogpost.title %>
                </a>
                <% if blogpost.author_name and blogpost.author_link %>
                    (نویسنده:
                        <a href="<%= blogpost.author_link %>">
                            <%= blogpost.author_name %></a>)
                <% elsif blogpost.author_name %>
                    (نویسنده: <%= blogpost.author_name %>)
                <% end %>
            </li>
        <% end %>
    </ul>
</div>
