<!DOCTYPE html>
<html lang="<%= language %>" dir="<%= dir %>">
<head>
    <% if config[:google_analytics_enabled] %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= config[:google_analytics_tag] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= config[:google_analytics_tag] %>');
      </script>
    <% end %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= translate("Riazi Cafe", language) %>
      <% if defined?(title) and title %>
        - <%= title %>
      <% end %>
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <% if dir == "rtl" %>
      <!-- Bootstrap RTL CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" rel="stylesheet">
    <% end %>
    <!-- Custom CSS -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- Mathjax stuff -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
    <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <h1><a class="navbar-brand" href="/"><%= translate("Riazi Cafe", language) %></a></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><%= translate("Home", language) %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/<%= language %>/problem-list.html"><%= translate("Problems", language) %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/send-problem.html"><%= translate("Suggest A Problem", language) %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/<%= language %>/blog"><%= translate("Blog", language) %></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <main class="container mt-5">
        <%= content %>
    </main>

    <footer class="text-center mt-5">
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
