<div class="row mb-4">
<h2><%= title %></h2>
    <div class="col-md-6">
        <ul>
            <% posts.each do |post| %>
                <li>
                    <a href="<%= post["url"] %>">
                        <% if !post["id"].nil? && !post["id"].empty? %>
                        <b> <%= post["id"] %>. </b>
                        <% end %>
                        <%= post["title"] %>
                    </a>
                    <% if post["author_name"] and post["author_link"] %>
                        (نویسنده:
                            <a href="<%= post["author_link"] %>">
                                <%= post["author_name"] %></a>)
                    <% elsif post["author_name"] %>
                        (نویسنده: <%= post["author_name"] %>)
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="col-md-6">
        <% if twitter %>
        <p>
            <a href="https://twitter.com/<%=twitter%>">
                <img src="/images/twitter.png" width="64px" />
                <span style="font-size:16pt; padding: 10pt;">
                    @<%=twitter%>
                </span>
            </a>
        </p>
        <% end %>
        <% if telegram %>
        <p>
            <a href="https://t.me/<%=telegram%>">
                <img src="/images/telegram.png" width="64px" />
                <span style="font-size:16pt; padding: 10pt;">
                    @<%=telegram%>
                </span>
            </a>
        </p>
        <%end%>
    </div>
</div>
